<div class="information-section-component">
    <div class="card-container">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                    total balance
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Hello World!
            </mat-card-content>
        </mat-card>
        
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                    you owe
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Hello World!
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                    you are owed
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Hello World!
            </mat-card-content>
        </mat-card>
    </div>
</div>