<div class="menu-component">
  <div class="toggle-button-contianer">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </div>
  
  <mat-sidenav-container [hasBackdrop]="false">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" mat-list-item>Close</a>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Friends </mat-panel-title>
            </mat-expansion-panel-header>
            <p *ngFor="let friend of friendList" >{{friend.firstName}} {{friend.lastName}}</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Groups </mat-panel-title>
            </mat-expansion-panel-header>
            <p *ngFor="let group of groupList" >{{group.groupName}}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>